body{
    background-color: rgb(167, 220, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#text1{
    width: 49.5%;
    position: absolute;
    left: 0.5%;
    border-radius:4px 0px 0px 4px;
    background-color: #95ff00b3;
    border-color: rgba(0, 0, 0, 0.625);
}
#text2{
    width: 49.5%;
    position: absolute;
    right: 0.5%;
    border-radius:0px 4px 4px 0px;
    background-color: #95ff00b3;
    border-color: rgba(0, 0, 0, 0.625);
}
::placeholder{
    color: black;
    
    opacity: 0.85;
}  
#infoone{

    height: 2em; 
    width: 40%; 
    position: absolute; 
    top: 0px; 
    left: 0%;
    text-align: center;
}
#infotwo{
    height: 2em; 
    width: 40%; 
    position: absolute; 
    top: 0px; 
    left: 40%;
    text-align: center;
}
#delete_{
    height: 2em; 
    width: 20%; 
    position: absolute; 
    top: 0px; 
    left: 80%; 
    border-radius:4px 4px 4px 4px;
}
#button{
    width: 80%;
}
#mode{
    width: 20%;
}
.window{
    position:absolute;
    top: 18%;
    background-color: aqua;
    text-align: center;
    left:0.5%;
    width: 99%;
    height: 80%;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    
}
#question{
    background-color: lightgreen;
    display: flex;
    margin: auto; 
    position: absolute;
    top: 0%;
    left: 0%;
    height: 20%;
    width: 100%;
}
.inner{
    width: 80%;
    left: 20%;
    font-size: xx-large;
    margin: auto; /* Important */ 
    text-align: center; 
    word-break: normal;
}
#rep1{
    display: flex;
    margin: auto; 
    position: absolute;
    top: 20%;
    left: 0%;
    width: 50%;
    height: 35%;
}
#rep2{
    display: flex;
    margin: auto; 
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50%;
    height: 35%;
}
#rep3{
    display: flex;
    margin: auto; 
    position: absolute;
    top: 55%;
    left: 0%;
    width: 50%;
    height: 35%;
}
#rep4{
    display: flex;
    margin: auto; 
    position: absolute;
    top: 55%;
    left: 50%;
    width: 50%;
    height: 35%;
}

.border:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.356);
    
}
#result{
    height: 10%;
    font-size: 200%;
    top: 5%;
}
#resultat{
    width: 80%;
    height: 10%;
    
    position: absolute;
    top: 15%;
    left: 10%;
    
    
    font-weight: bold;
}
#resultats{
    height: 100%;
    width: 90%;
    position: absolute;
    left: 5%;
}
   
    
#notesur20{
    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
    height: 20%;
}
#pourcentage{
    position: absolute;
    left: 10%;
    width: 80%;
    height: 20%;
    top: 50%;
}
#recommencer{
    position: absolute;
    top: 80%;
    left: 5%;
    width: 90%;
    height: 10%;
}
#resultbas{
    position: absolute;
    
    top:90%;
    height: 10%;
    width: 95%;
    left: 2.5%;
}
#finirtest{
    height: 100%;
    width: 40%;
    position: absolute;
    left: 60%;
}
#pourcentbasdiv{
    height: 100%;
    width: 30%;
    position: absolute;
    left: 30%;
    display: flex;
    margin: auto; 
}
#sur20basdiv{
    height: 100%;
    width: 30%;
    position: absolute;
    left: 0%;
    display: flex;
    margin: auto; 
}
#window4{
    position: absolute; 
    top:40%;
    left:20%;
    height: 30%;
    width: 60%;
    background-color: rgb(69, 190, 255);
}
#downloadfile{
    height: 100%;
    width: 100%;
    
}
input{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid;
    border-color: transparent;
    background: #0486ff85;
    transition: border-color 0.5s;
}
input:hover{
    border-color: rgba(0, 0, 0, 0.377);
}
.row1{
    position:absolute;
    top:0.5%;
}
.row2{
    position:absolute;
    top:6%;
}.row3{
    position:absolute;
    top:11.5%;
}
.top{
    height: 5%;
    
}
.opt{
    position: absolute;
    left:79.5%;
    background: #0486ff85;
    border-radius:0px 4px 4px 0px;
}

.commencer{
    width: 79%;
    position: absolute;
    left: 0.5%;
    border-radius:4px 0px 0px 4px;
}
.ajouter{
    width: 99%;
    position: absolute;
    left:0.5%;
    border-radius:4px 4px 4px 4px;
}
.charge{
    border-radius:4px 0px 0px 4px;
}
.download{
    border-radius:0px 4px 4px 0px;
}
#window1_1{
    position: absolute;
    width: 100%;
    height: 95%;
    top: 5%;
}
